.App {
  text-align: center;
  min-height: 100vh;
  max-width:375px;
  background: radial-gradient(circle farthest-side, #ffffff 65%, #cccccc);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position:relative;
}

.App-link {
  color: #61dafb;
}

.App img.logo {
  position:absolute;
  z-index:5;
  opacity:0;
}

.App:not(.loading) img.logo {
  top:0;
  left:70px;
  height:70px;
  padding-top:3px;
  width:75px;
  opacity:1;
  transition:opacity 5s;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
}

.App .loader img.loadingLogo {
  position:absolute;
  top: 200px;
  left:calc(50% - 110px);
  width:220px;
  height:220px;
}

.App.loading .nav-header {
  opacity:0;
}

.App .nav-header {
  opacity:1;
  background:white;
  width:100%;
  float:left;
  height:75px;
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  border-bottom: 1px solid #704214;
  transition: opacity .75s;
  -webkit-transition: opacity .75s;
  -moz-transition: opacity .75s;
}

.App .nav-header .hamburger {
  position:absolute;
  margin-top:10px;
  width:75px;
  height:65px;
}

.App .nav-header .hamburger .nom {
  width:45px;
  height:4px;
  background: black;
  margin:10px 15px;
  border-radius:4px;
  transition: all .75s;
  -webkit-transition: all .75s;
  -moz-transition: all .75s;
}


.App .nav-header .hamburger.open .nom:nth-child(1) {
  -ms-transform: rotate(45deg) translate(10px, 10px);/* IE 9 */
  -webkit-transform: rotate(45deg) translate(10px, 10px); /* Safari */
  transform: rotate(45deg) translate(15px, 10px);
  transition:all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
}
.App .nav-header .hamburger.open .nom:nth-child(2) {
  opacity:0;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
}
.App .nav-header .hamburger.open .nom:nth-child(3) {
  -ms-transform: rotate(-45deg) translate(15px, -5px); /* IE 9 */
  -webkit-transform: rotate(-45deg) translate(15px, -5px); /* Safari */
  transform: rotate(-45deg) translate(15px, -5px);
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
}

.App .nav-tray {
  position:fixed;
  top:75px;
  left:0;
  width:195px;
  background:black;
  color:white;
  transition:left .25s;
  -webkit-transition: left .25s;
  -moz-transition: left .25s;
  height:100%;
  z-index:20;
  -webkit-box-shadow: 10px -5px 6px -6px #777;
  -moz-box-shadow: 10px -5px 6px -6px #777;
  box-shadow: 10px -5px 6px -6px #777;
}
.nav-tray.hide {
  left:-215px;
  transition:left .5s;
  -webkit-transition: left .5s;
  -moz-transition: left .5s;
}
.App .nav-tray li {
  list-style-type: none;
  text-align:left;
  font-size:16pt;
  padding: 7px 20px;
  border-bottom:1px solid #704214;
  cursor:pointer;
}

.App .content {
  position:relative;
  margin:15px 10px 5px 10px;
  text-align:left;
  opacity: 1;
}

.App.loading .content {
  opacity: 0
}

.App.loading .main {
  opacity:0;
}

.App .main {
  opacity: 1;
  transition: opacity 5s;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
}

.App .main .lights {
  margin-top:80px;
  width:100%;
}

.App .main .lights.on {
  background: #2222cc;
  color:white;
  font-size:13pt;
  margin-top:80px;
}

.App .main .lights.off {
  background:#cecece;
  color:black;
}


.App .main .lights .text {
  padding: 8px 9px;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  position: absolute;
  top: 120px;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #111111;
  }
  40% {
    stroke: #151515;
  }
  66% {
    stroke: #333333;
  }
  80%, 90% {
    stroke: #4a4a4a;
  }
}
@keyframes color {
  0% {
    stroke: #000000;
  }
  40% {
    stroke: #151515;
  }
  66% {
    stroke: #333333;
  }
  80%, 90% {
    stroke: #4a4a4a;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circular-loader {
  max-width: 375px;
  z-index:10;
}
.App:not(.loading) .circular-loader {
  display:none;
}

.App:not(.loading) .loader {
  opacity:0;
  height:0px;
  transition: all 2.5s;
  -webkit-transition: all 2.5s;
  -moz-transition: all 2.5s;
}
